# types of loops
i) for loops
ii) while loops

In [7]:
a_list =[1,3,5]

In [14]:
for value in a_list:
    print(value-1)

0
2
4

In [30]:
student_1 = ['rabin', 'male', 16, 77]
student_2 = ['prabin', 'male', 26, 75]
student_3 = ['sabin', 'male', 36, 79]
student_4 = ['nabin', 'male', 46, 73]
student_5 = ['nabin', 'male', 46, 83]
student_6 = ['nabin', 'male', 46, 53]
student_7 = ['nabin', 'male', 46, 63]
student_8 = ['nabin', 'male', 46, 78]
student_9 = ['nabin', 'male', 46, 65]
s= [student_1, student_2, student_3, student_4]
total = 0
length = 0
for student in s:
    print (student)
    score = student[-2]
    total += score
    length += 1
avg_age = total/length
print(avg_age)

['rabin', 'male', 16, 77]
['prabin', 'male', 26, 75]
['sabin', 'male', 36, 79]
['nabin', 'male', 46, 73]
31.0

In [43]:
####taking total of 7 students
total = 0
length = 0
s7= [student_1, student_2, student_3, student_4, student_5, student_6, student_7, student_8, student_9]
for student in s7:
    score = student[-1]
    print (student)
    total += score
    length == 1
    if length ==7:
        break
print (total)

['rabin', 'male', 16, 77]
['prabin', 'male', 26, 75]
['sabin', 'male', 36, 79]
['nabin', 'male', 46, 73]
['nabin', 'male', 46, 83]
['nabin', 'male', 46, 53]
['nabin', 'male', 46, 63]
['nabin', 'male', 46, 78]
['nabin', 'male', 46, 65]
646

In [54]:
num = [1,2,3,4,5]
# for sq in num:
#     tsq = sq*sq
#     print(tsq)
tsql = []
for i  in num:
    tsql.append(i**2)
print (tsql)

[1, 4, 9, 16, 25]

# use range to populate the square of even numbers upto 20 in new list

In [55]:
for i in range(0,5,2):
    if i ==2 :
        print(i)

2

In [61]:
leven = []
for i in range(0,20):
    print (i)
    if i%2 == 0:
        leven.append(i**2)
print (leven)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [62]:
b= [12,14,13,15,21,16,18,20]
a= [value + 1 for value in b if value%2==1]

In [63]:
print (a)

[14, 16, 22]

In [72]:
dict1 = {"name": "rabin", "age": 22, "location": "devinagar", "level":"bachelor"}
dict1.values()

dict_values(['rabin', 22, 'devinagar', 'bachelor'])

In [73]:
tuple1 = (1,2,3,4,5)

In [74]:
for item in tuple1:
    print(item)

1
2
3
4
5

In [76]:
tuple_to_list = list(tuple1)
print (tuple_to_list)

[1, 2, 3, 4, 5]

In [77]:
tuple_to_list[-1] = 6
list_to_tuple = tuple(tuple_to_list)

In [78]:
print(list_to_tuple)

(1, 2, 3, 4, 6)

In [79]:
for i in range(9,13):
    tuple1 = tuple1 + (i,)
print(tuple1)

(1, 2, 3, 4, 5, 9, 10, 11, 12)

# Conditional Statements

In [59]:
student_1 = ['rabin', 'male','CSIT',7, 16, 77]
student_2 = ['prabin', 'male','BCA',5, 26, 75]
student_3 = ['sabin', 'male','CSIT',6, 36, 79]
student_4 = ['nabin', 'male','BCA',7, 26, 73]
student_5 = ['nabina', 'female','CSIT',7, 22, 83]
student_6 = ['nabina', 'female','BIM',5, 15, 53]
student_7 = ['nabina', 'female','CSIT',4, 46, 63]
student_8 = ['nabin', 'male','BIM', 23,6, 78]
student_9 = ['nabin', 'male','BCA', 21,4, 65]

In [8]:
sSets= [student_1, student_2, student_3, student_4, student_5, student_6, student_7, student_8, student_9]

find number of male students

In [9]:
mCount = 0
for male in sSets:
    if male[1] == 'male':
        mCount += 1
print (mCount)

6

# find number of students whose age is greater than or equal to 22

In [10]:
nAge = 0
for stds in sSets:
    if stds[-2] >= 22:
        nAge += 1
print(nAge)

6

use of shorthand if statement

In [11]:
a= 5
b=6

In [12]:
x =10 if a>b else 11

In [13]:
print (x)

11

In [15]:
if (5 >= 3):
    print("sky is blue")
if (2+2 == 5):
    print("sky is violet")
if (7/5 == 2):
    print("sky is green")

sky is blue

In [40]:
 print("sky") if (5 >= 3) elif (2+2 == 5) print("saroj") else print("rabin")

SyntaxError: invalid syntax (3726056192.py, line 1)

counting male and female number

In [66]:
mCount = 0
fCount = 0
for male in sSets:
    if male[1] == 'male':
        mCount += 1
    else:
        fCount += 1
print ("male count:",str(mCount))
print ("female count:",str(fCount))

male count: 6
female count: 3

counting both less than and more than or equal age comparing with 22

In [67]:
lAge = 0
geAge = 0
for stds in sSets:
    if stds[-2] < 22:
        lAge += 1
    else:
        geAge += 1
print(geAge)
print(lAge)

5
4

if-elif-else satement

In [68]:
a =7
b=6

In [69]:
if (a>b):
    print("1")
elif (a<b):
    print("2")
else:
    print("3")

1

count the number of faculties

In [70]:
sSets= [student_1, student_2, student_3, student_4, student_5, student_6, student_7, student_8, student_9]
print (sSets)

[['rabin', 'male', 'CSIT', 7, 16, 77], ['prabin', 'male', 'BCA', 5, 26, 75], ['sabin', 'male', 'CSIT', 6, 36, 79], ['nabin', 'male', 'BCA', 7, 26, 73], ['nabina', 'female', 'CSIT', 7, 22, 83], ['nabina', 'female', 'BIM', 5, 15, 53], ['nabina', 'female', 'CSIT', 4, 46, 63], ['nabin', 'male', 'BIM', 23, 6, 78], ['nabin', 'male', 'BCA', 21, 4, 65]]

In [71]:
csitCount = 0
bcaCount = 0
bimCount = 0
for faculty in sSets:
    if faculty[2] == 'CSIT':
        csitCount += 1
    elif faculty[2] == 'BCA':
        bcaCount +=1
    else:
        bimCount +=1
print (csitCount)
print (bcaCount)
print (bimCount)

4
3
2

count the number of students for each semester

In [72]:
fourthCount = 0
fifthCount = 0
sixthCount = 0
seventhCount = 0
for faculty in sSets:
    if faculty[3] == 4:
        fourthCount += 1
    elif faculty[3] == 5:
        fifthCount +=1
    elif faculty[3] == 6:
        sixthCount +=1
    else:
        seventhCount +=1
print (fourthCount)
print (fifthCount)
print (sixthCount)
print (seventhCount)

1
2
1
5

checking membership in dictionary

In [73]:
dict1 = {"name": "rabin", "age": 22, "location": "devinagar", "level":"bachelor"}

In [74]:
dict1.keys()

dict_keys(['name', 'age', 'location', 'level'])

In [75]:
b= "age" in dict1

In [76]:
b

True

can't check with values

In [77]:
c= 22 in dict1

In [78]:
c

False

In [79]:
fruit_dict = {"apple":300, "banana":120, "orange":130,"dragon_fruit":400}

In [80]:
is_in_dictionary_1 = "banana" in fruit_dict

In [81]:
is_in_dictionary_1

True

In [82]:
is_in_dictionary_2 = 400 in fruit_dict
is_in_dictionary_2

False

In [83]:
if "apple" in fruit_dict:
    result = "it exists"
    print(result)

it exists

updating dictionary values

In [85]:
fruit_dict["apple"]= 320
fruit_dict

{'apple': 320, 'banana': 120, 'orange': 130, 'dragon_fruit': 400}

In [86]:
fruit_dict.update({"banana": 150})
fruit_dict

{'apple': 320, 'banana': 150, 'orange': 130, 'dragon_fruit': 400}

In [87]:
content_ratings = {'4+': 622, '12+': 1155, '9+': 987, '17+': 4433}

In [ ]:
swapping values of 4+ 1nd 17+

In [88]:
temp = content_ratings['4+']
content_ratings['4+'] = content_ratings['17+']
content_ratings['17+'] = temp

In [90]:
print(content_ratings)

{'4+': 4433, '12+': 1155, '9+': 987, '17+': 622}

In [91]:
list2 = [1,2,3,3,2,1,2,1,3,1,2,3]

In [101]:
dict2 = {1: 0, 2:0, 3:0}

In [102]:
dict2

{1: 0, 2: 0, 3: 0}

In [100]:
for item in list2:
    if item == 1:
        dict2[1] += 1
    elif item == 2:
        dict2[2] += 1
    else:
        dict2[3] += 1

In [106]:
dict2

{1: 4, 2: 4, 3: 4}

In [103]:
for item in list2:
    if item in dict2:
        dict2[item] += 1

In [105]:
dict2

{1: 4, 2: 4, 3: 4}

count the number of times each age is repeated (frequency table)

In [2]:
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester', 78.2]
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester',67.5]
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester',82.4]
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester',87.3]
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester',69.8]
student_6 = ['Prabhat', 'male',23, 'B.Sc.Cs.It', 'Seventh Semester', 80.2]
student_7 = ['Ashmita','female',21,'B.Sc.Cs.It', 'Fifth Semester',81.5]
student_8 = ['Shanti','female',22, 'B.Sc.Cs.It', 'Fifth Semester',72.4]
student_9 = ['Himal','male',20, 'B.C,A', 'Fifth Semester',78.3]
student_10 = ['Rabina','female',22, 'B.I.M', 'Seventh Semester',75.8]
student_11 = ['Kamal', 'male',23, 'B.I.M', 'Fifth Semester', 80.2]
student_12= ['Bhawana','female',21,'B.I.M', 'Third Semester',81.5]
student_13 = ['Sunil','male',22, 'B.I.M', 'Fourth Semester',72.4]
student_14= ['Nirisha','female',20, 'B.I.M', 'Fourth Semester',78.3]
student_15 = ['Sushmita','female',22, 'B.I.M', 'Third Semester',75.8]
student_16 = ['Alisha', 'female',20, 'B.A.L.L.B', 'Second Semester', 70.2]
student_17 = ['Dipen','male',23,'B.C.A', 'Fifth Semester',67.5]
student_18 = ['Purnima','female',23, 'B.A.L.L.B', 'Seventh Semester',81.4]
student_19 = ['Aastha','female',24, 'B.Sc.Cs.It', 'Fifth Semester',83.3]
student_20 = ['Pramila','female',24, 'B.Sc.Cs.It', 'Seventh Semester',79.8]
student_21 = ['Pawan', 'male',24, 'B.Sc.Cs.It', 'Third Semester', 70.2]
student_22 = ['Prakriti','female',22,'B.A.L.L.B', 'Fifth Semester',69.5]
student_23 = ['Nabina','female',23, 'B.Sc.Cs.It', 'Second Semester',77.4]
student_24 = ['Siddhant','male',23, 'B.C,A', 'Fifth Semester',78.3]
student_25 = ['Goma','female',25, 'B.A.L.L.B', 'Seventh Semester',72.8]
student_26 = ['Rijan', 'male',23, 'B.I.M', 'Fifth Semester', 81.2]
student_27 = ['Rihans','male',21,'B.C.A', 'Third Semester',86.5]
student_28 = ['Kabya','female',22, 'B.I.M', 'Second Semester',78.4]
student_29 = ['Abhi','male',20, 'B.I.M', 'Fourth Semester',71.3]
student_30 = ['Seema','female',25, 'B.I.M', 'Fifth Semester',69.8]

student_datasets = [student_1, student_2, student_3, student_4, student_5,
                    student_6, student_7, student_8, student_9, student_10,
                   student_11, student_12, student_13, student_14,student_15,
                   student_16, student_17, student_18, student_19, student_20,
                    student_21, student_22, student_23, student_24, student_25,
                   student_26, student_27, student_28, student_29, student_30]

In [108]:
# dict2 = {"student_1": 0, "student_2": 0, "student_3": 0, "student_4": 0, "student_5":0 ,
#                     "student_6": 0, "student_7": 0, "student_8", student_9, student_10,
#                    student_11, student_12, student_13, student_14,student_15,
#                    student_16, student_17, student_18, student_19, student_20,
#                     student_21, student_22, student_23, student_24, student_25,
#                    student_26, student_27, student_28, student_29, student_30}

In [4]:
dict3 = {}

In [6]:
for stds in student_datasets:
    age = stds[2]
    if age not in dict3:
        dict3[age] = 1
    else:
        dict3[age] += 1
print(dict3)

{23: 8, 21: 4, 22: 8, 20: 5, 24: 3, 25: 2}

In [9]:
dict4 = {}
for stds in student_datasets:
    semester = stds[-2]
    if semester not in dict4:
        dict4[semester] = 1
    else:
        dict4[semester] += 1
print(dict4)

{'Seventh Semester': 8, 'Fifth Semester': 12, 'Third Semester': 4, 'Fourth Semester': 3, 'Second Semester': 3}

Built-in Functions

In [10]:
a_list = []
sum_manual = 0
for item in a_list:
    def

SyntaxError: invalid syntax (4217080406.py, line 4)

In [13]:
def display_name():
    print("Rabin Pokhrel")

In [15]:
display_name()

Rabin Pokhrel

parameterized function

In [22]:
def square_num(num):
    result = num *num
    return result

In [23]:
square_result = square_num(5)
print (square_result)

25

function with default argument

In [20]:
def square_num(num = 7):
    result = num *num
    return result

In [21]:
square_result = square_num()
print (square_result)

49

calculating cube of different numbers call the same function

In [27]:
def cube(num):
    cube_result = num **3
    return cube_result

In [28]:
cube_5 = cube(5)
print (cube_5)
cube_6 = cube(6)
print ("cube of 6 is",str(cube_6))

125
cube of 6 is 216

In [31]:
def mul_5(num):
    mul_result = num * 5
    return mul_result

In [33]:
mul_20 = mul_5(20)
print (mul_20)
mul_16 = mul_5(16)
print ("result of 16 is",str(mul_16))

100
result of 16 is 80

keyword arguments

In [34]:
def subtraction(num1, num2):
    return num1 - num2

In [35]:
sub1 = subtraction(num1 = 19, num2 = 7)
sub1

12

In [40]:
def displayName(l_name, f_name):
    print("{} {}".format(f_name, l_name))

In [41]:
displayName(f_name= 'rabin', l_name= 'pokhrel')

rabin pokhrel

variable length argument

In [42]:
def non_key_argument(*args):
    for item in args:
        print (item)

In [44]:
non_key_argument(1,2,3,4,5,6)

1
2
3
4
5
6

In [50]:
def keyword_argument(**kwargs):
    for key, val in kwargs.items():
        print("key is {} and value is {}".format(key, val))

In [51]:
keyword_argument(f_name = "rabin", l_name = "pokhrel")

key is f_name and value is rabin
key is l_name and value is pokhrel

In [56]:
def date(month,day):
    return month + ' ' + str(day)

In [57]:
date(month = "december", day = 13)

'december 13'

In [55]:
def date_with_year(year, month, day):
    return month + '' + str(day)+ ' ' + str(year)

In [60]:
first_date = date_with_year(year = 1999, month = "march,", day = 24)

In [61]:
print(first_date)

march,24 1999

In [62]:

student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester', 78.2]
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester',67.5]
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester',82.4]
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester',87.3]
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester',69.8]
student_6 = ['Prabhat', 'male',23, 'B.Sc.Cs.It', 'Seventh Semester', 80.2]
student_7 = ['Ashmita','female',21,'B.Sc.Cs.It', 'Fifth Semester',81.5]
student_8 = ['Shanti','female',22, 'B.Sc.Cs.It', 'Fifth Semester',72.4]
student_9 = ['Himal','male',20, 'B.C,A', 'Fifth Semester',78.3]
student_10 = ['Rabina','female',22, 'B.I.M', 'Seventh Semester',75.8]
student_11 = ['Kamal', 'male',23, 'B.I.M', 'Fifth Semester', 80.2]
student_12= ['Bhawana','female',21,'B.I.M', 'Third Semester',81.5]
student_13 = ['Sunil','male',22, 'B.I.M', 'Fourth Semester',72.4]
student_14= ['Nirisha','female',20, 'B.I.M', 'Fourth Semester',78.3]
student_15 = ['Sushmita','female',22, 'B.I.M', 'Third Semester',75.8]
student_16 = ['Alisha', 'female',20, 'B.A.L.L.B', 'Second Semester', 70.2]
student_17 = ['Dipen','male',23,'B.C.A', 'Fifth Semester',67.5]
student_18 = ['Purnima','female',23, 'B.A.L.L.B', 'Seventh Semester',81.4]
student_19 = ['Aastha','female',24, 'B.Sc.Cs.It', 'Fifth Semester',83.3]
student_20 = ['Pramila','female',24, 'B.Sc.Cs.It', 'Seventh Semester',79.8]
student_21 = ['Pawan', 'male',24, 'B.Sc.Cs.It', 'Third Semester', 70.2]
student_22 = ['Prakriti','female',22,'B.A.L.L.B', 'Fifth Semester',69.5]
student_23 = ['Nabina','female',23, 'B.Sc.Cs.It', 'Second Semester',77.4]
student_24 = ['Siddhant','male',23, 'B.C,A', 'Fifth Semester',78.3]
student_25 = ['Goma','female',25, 'B.A.L.L.B', 'Seventh Semester',72.8]
student_26 = ['Rijan', 'male',23, 'B.I.M', 'Fifth Semester', 81.2]
student_27 = ['Rihans','male',21,'B.C.A', 'Third Semester',86.5]
student_28 = ['Kabya','female',22, 'B.I.M', 'Second Semester',78.4]
student_29 = ['Abhi','male',20, 'B.I.M', 'Fourth Semester',71.3]
student_30 = ['Seema','female',25, 'B.I.M', 'Fifth Semester',69.8]

student_datasets = [student_1, student_2, student_3, student_4, student_5,
                    student_6, student_7, student_8, student_9, student_10,
                   student_11, student_12, student_13, student_14,student_15,
                   student_16, student_17, student_18, student_19, student_20,
                    student_21, student_22, student_23, student_24, student_25,
                   student_26, student_27, student_28, student_29, student_30]

In [63]:
student_datasets[0]

['Ram', 'male', 23, 'B.C.A', 'Seventh Semester', 78.2]

make the list of faculties by extracting from above datasets

In [102]:
def extract(index_num):
    empty_list = []
    for item in student_datasets:
        empty_list.append(item[index_num])
    return empty_list

In [103]:
faculty_data = extract(3)
print(faculty_data)

['B.C.A', 'B.C.A', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.C,A', 'B.I.M', 'B.I.M', 'B.I.M', 'B.I.M', 'B.I.M', 'B.I.M', 'B.A.L.L.B', 'B.C.A', 'B.A.L.L.B', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.A.L.L.B', 'B.Sc.Cs.It', 'B.C,A', 'B.A.L.L.B', 'B.I.M', 'B.C.A', 'B.I.M', 'B.I.M', 'B.I.M']

In [83]:
def freq_table(input_list):
    dictFaculties = {}
    for stds in input_list:
#   faculty = stds[3]
        if stds not in dictFaculties:
            dictFaculties[stds] = 1
        else:
            dictFaculties[stds] += 1
    return dictFaculties

In [84]:
faculties_ft = freq_table(input_list = faculty_data)
print(faculties_ft)

{'B.C.A': 3, 'B.Sc.Cs.It': 10, 'B.C,A': 2, 'B.I.M': 10, 'B.A.L.L.B': 4}

In [88]:
def freq_table(index_num):
    freq_dict = {}
    for item in student_datasets[1:]:
        if item[index_num] not in freq_dict:
            freq_dict[item[index_num]] = 1
        else:
            freq_dict[item[index_num]] += 1
    return freq_dict

In [97]:
faculty_ft = freq_table(index_num = 3)
print(faculty_ft)
# freq_table(5)

{'B.C.A': 3, 'B.Sc.Cs.It': 10, 'B.C,A': 2, 'B.I.M': 10, 'B.A.L.L.B': 4}

reusability and multiple parameters see from git

In [104]:
header = ['Movie Name','Genre', 'Lead Actor', 'Released Year', 'No of ratings', 'Avg Rating']
movie1 = ['Titanic','Romantic', 'Leonardo Decaprio', '1997', 1169835, 7.9]
movie2 = ['Met Joe Black','Romantic', 'Brad Pit', '1998', 243882, 7.3]
movie3 = ['Edge of Tomorrow','Sci-Fiction', 'Tom Cruise', '2014', 678775, 7.9]
movie4 = ['Chennai Express', 'Action', 'Sharukh Khan', '2013', 55643, 6.0]
movie5 = ['The Tourist', 'Mystery', 'Johnny Deep', '2010', 244817, 6.0]
movie6 = ['Romie + Juliet','Romantic', 'Leonardo Decaprio', '1996', 230832, 6.7]
movie7 = ['Fight Club','Action', 'Brad Pit', '1999', 2115606 , 8.8]
movie3 = ['Mission Impossible - Fallout','Action', 'Tom Cruise', '2018', 333634, 7.7]
movie8 = ['Don2', 'Action', 'Sharukh Khan', '2011', 53731, 7.0]
movie9 = ['Pirates of the Caribbean: Dead Men Tell No Tales', 'Action', 'Johnny Deep', '2017', 313199, 6.5]
movie10 = ['Enemy', 'Mystery', 'Jake Gyllenhaal', '2013', 195742, 6.9]
movie11 = ['Chocolat','Romantic', 'Johnny Deep', '2000', 193148, 7.3]
movie12 = ['Source Code','Sci-Fiction', 'Jake Gyllenhaal', '2011', 522197, 7.5]
movie13 = ['Ra-One','Sci-Fiction', 'Sharukh Khan', '2011', 43296, 4.7]
movie14 = ['Inception', 'Action', 'Leonardo Decaprio', '2010', 2342560, 8.8]
movie15 = ['Jack Reacher', 'Mystery', 'Tom Cruise', '2012', 343395 , 7.0]
movie_datasets = [header, movie1, movie2, movie3, movie4, movie5,
                    movie6, movie7, movie8, movie9, movie10,
                   movie11, movie12, movie13, movie14,movie15]

In [8]:
def freq_table(datasets, index_num):
    freq_dict = {}
    for item in datasets[1:]:
        if item[index_num] not in freq_dict:
            freq_dict[item[index_num]] = 1
        else:
            freq_dict[item[index_num]] += 1
    return freq_dict

In [ ]:
movie_genre_count = freq_table(datasets = movie_datasets,  index_num = 1)

combining functions

In [3]:
def lang_list(input_list):
    counter = 0
    for item in input_list:
        counter += 1
    return counter

In [4]:
def sum_list(input_list):
    addition = 0
    for item in input_list:
        addition += item
    return addition

In [5]:
def mean_list(input_list):
    list_sum = sum_list(input_list)
    list_length = leng_list(input_list)
    list_avg = list_sum/list_length
    return list_avg

In [12]:
list1 = [12,3,43,6,23,67,87,38,33]
avg_list1 = mean_list(list1)
print(avg_list1)

NameError: name 'leng_list' is not defined

From the given dataset write a function that
-> calculates the percentage of given student.
-> Use one function to calculate the full marks of the student.
-> Another function to calculate the obtained marks of the student.
-> And create a third function that would calculate the percentage of the given student.
-> Don't forget to use function inside a function we just read above.

In [9]:
header = ['Subject', 'FM', 'PM', 'OM']
score1 = ['English', '75', '32', '63']
score2 = ['Nepali', '100', '40', '74']
score3 = ['Social', '100', '40', '76']
score4 = ['Science', '75', '32', '68']
score5 = ['C.Math', '100', '40', '93']
score6 = ['Opt.Math', '100', '40', '91']
score7 = ['E.H.P', '75', '32', '61']
score8 = ['Account', '75', '32', '58']
score9 = ['Economic', '75', '32', '57']
score10 = ['Computer', '75', '32', '71']

score_dataset = [header, score1, score2, score3, score4, score5, 
                score6, score7, score8, score9, score10]

In [13]:
def addition_om(index1):
    addition_om = 0
    for item in score_dataset[1:]:
        addition_om += int(item[index1])
    return addition_om

In [14]:
def addition_fm(index2):
    addition_fm = 0
    for item in score_dataset[1:]:
        addition_fm += int(item[index2])
    return addition_fm

In [20]:
def percentage(index1, index2):
    om = addition_om(index1)
    fm = addition_fm(index2)
    result = om/fm
    return (result*100)

In [21]:
percent = percentage(index1 = -1, index2 = 1)
print(percent)

83.76470588235294

using the same function for counting both obtained and full marks

In [17]:
def total(index):
    addition = 0
    for item in score_dataset[1:]:
        addition += int(item[index])
    return addition

In [18]:
def percentage(index1, index2):
    om = total(index1)
    fm = total(index2)
    result = om/fm
    return (result*100)

In [19]:
percent = percentage(index1 = -1, index2 = 1)
print(percent)

83.76470588235294

Pallindrome check
A palindrome is a word, phrase, or sequence that is the same spelled forward as it is backwards.
Examples are:
-> radar
-> was it a car or a cat i saw

In [23]:
string = "was it a car or a cat i saw"
final_string = string.replace(" ", "")
print(final_string)

wasitacaroracatisaw

In [27]:
reversed_string = ''.join(reversed(final_string))
print(reversed_string)

wasitacaroracatisaw

In [28]:
def checkpalindrome(string):
    final_string = string.replace(" ", "")
    reversed_string = "".join(reversed(final_string))
    if final_string == reversed_string:
        print("is palindrome")
    else:
        print("not palindrome")

In [34]:
checkpalindrome(string="radar")

is palindrome

In [35]:
checkpalindrome(string="was it a car or a cat i saw")

is palindrome

In [37]:
checkpalindrome(string="dogod")

is palindrome

In [47]:
def checkPalindrome(string):
    final_string = string.replace(" ", "")
    r_string = ""
    for i in range(-1,-len(string)-1,-1):
        r_string += final_string[i]
    if final_string == reversed_string:
        print("is palindrome")
    else:
        print("not palindrome")

In [48]:
checkpalindrome(string="radar")

is palindrome

In [49]:
checkpalindrome(string="radarm")

not palindrome

Create a function to convert the following list into a dictionary like this:
Given list:

item = ['duns_id', 'DUNS', 'company_id', 'Company_Id', 'company_name', 'Company_Name', 'product_id', 'Product_Id', 'product_name', 'Product_Name', 'country', 'Country']

Dictionary like this:

item = {"duns_id" : 'DUNS','company_id' : 'Company_Id', 'company_name' : 'Company_Name', 'product_id' : 'Product_Id', 'product_name' : 'Product_Name', 'country' : 'Country'}

In [50]:
item = ['duns_id', 'DUNS', 'company_id', 'Company_Id', 'company_name', 'Company_Name', 'product_id', 'Product_Id',
       'product_name', 'Product_Name', 'country', 'Country']

In [52]:
print(item)
print(len(item))

['duns_id', 'DUNS', 'company_id', 'Company_Id', 'company_name', 'Company_Name', 'product_id', 'Product_Id', 'product_name', 'Product_Name', 'country', 'Country']
12

In [70]:
def getKeys(list):
    itemDict = {}
    for i in range(0,len(list), 2):
        itemDict[list[i]] = list[i + 1]
    print(itemDict)

In [75]:
# getKeys(list = item1)
dict2 = getKeys(item)
print(dict2)

{'duns_id': 'DUNS', 'company_id': 'Company_Id', 'company_name': 'Company_Name', 'product_id': 'Product_Id', 'product_name': 'Product_Name', 'country': 'Country'}
None

In [58]:
for i in range(1,len(item), 2):
    print (i)

1
3
5
7
9
11

making dictionary by taking keys and values from two different lists

In [85]:
l1 = list(dict2.keys())
print(l1)

AttributeError: 'NoneType' object has no attribute 'keys'

In [81]:
list1 = ['qw', 'wq', 'wq', 'wq']
list2 = ['dwd', 'wqd', 'adwd', 'dawd']

In [86]:
def comDict(l1, l2):
    dict3 = {}
    for i in range(len(list1)):
        dict3[list1[i]] = list2[i]
    return dict3

In [87]:
dict4 = comDict(list1, list2)
print(dict4)

{'qw': 'dwd', 'wq': 'dawd'}